@tailwind base;

@font-face {
  font-family: "Akkurat Pro";
  src: url("../fonts/AkkuratPro-Light.otf") format("open type"),
  url("../fonts/akkuratpro-light-webfont.woff2") format("woff2"),
  url("../fonts/akkuratpro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../fonts/AkkuratPro-Regular.otf") format("open type"),
  url("../fonts/akkuratpro-regular-webfont.woff2") format("woff2"),
  url("../fonts/akkuratpro-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../fonts/AkkuratPro-Bold.otf") format("open type"),
  url("../fonts/akkuratpro-bold-webfont.woff2") format("woff2"),
  url("../fonts/akkuratpro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

:root .has-white-color { color: white }
:root .has-white-background-color { background-color: white }
:root .has-black-color { color: #323232 }
:root .has-black-background-color { background-color: #323232 }
:root { --grey:#e6e6e6 }
:root .has-grey-color { color: #e6e6e6 }
:root .has-grey-background-color { background-color: #e6e6e6 }
:root .has-gradient-background-color {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 25%, rgba(230,230,230,1) 100%);
}


.program-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  place-items: start;
}
@media screen and (min-width: 784px) {
  .program-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .program-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}

@media screen and (min-width: 1536px) {
  .program-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
}

@media screen and (min-width: 1900px) {
  .program-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
}


.program-grid-container .program-thumb {
  border-color: rgba(0, 0, 0, .2);
  position: relative;
  background: none;
  display: block;
  width: 100%;
  height: 100%;
}

.program-grid-container .program-thumb-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  flex-direction: column;
}

.program-grid-container .program-thumb::before {
  content: "";
  display: block;
  width: 1px;
  height: 0;
  padding-top: 100%;
}


.wp-block-columns {
  gap: 5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1536px) {
  .wp-block-columns {
    gap: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  .wp-block-columns {
    gap: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .wp-block-columns {
    gap: 1rem;
    margin-bottom: 0;
  }
}

@media (max-width: 1900px) {
  h1 br {
    content: '';
  }
  h1 br:after {
    content: ' ';
  }
}

.wp-block-image {
  margin: 0;
}
.wp-block-spacer {
  margin-top: 0;
  margin-bottom: 0;
}
.wp-block-spacer.is-style-small {
  height: 1.5rem !important;
}
.wp-block-spacer.is-style-medium {
  height: clamp(2rem, 10vh, 6rem) !important;
}
.wp-block-spacer.is-style-intro-medium {
  height: calc(clamp(2rem, 10vh, 6rem) + 4rem) !important;
}
.wp-block-spacer.is-style-large {
  height: clamp(4rem, 20vh, 10rem) !important;
}
.wp-block-spacer.is-style-x-large {
  height: clamp(4rem, 40vh, 20rem) !important;
}

@media screen and (max-width: 1536px) {
  .wp-block-spacer.is-style-intro-medium {
    height: calc(clamp(2rem, 10vh, 6rem)) !important;
  }
}

@media screen and (max-width: 780px) {
  .wp-block-spacer.is-style-medium {
    height: 2rem !important;
  }
  .wp-block-spacer.is-style-intro-medium {
    height: .5rem !important;
  }
  .wp-block-spacer.is-style-large {
    height: 4rem !important;
  }
  .wp-block-spacer.is-style-x-large:not(.keep-size) {
    height: 4rem !important;
  }
  .wp-block-spacer.is-style-x-large.keep-size {
   height: 18rem !important;
  }
  .wp-block-columns + .wp-block-columns {
    margin-top: 1rem;
  }

  .wp-block-table td:first-of-type {
    font-weight: bold;
  }
}

@media screen and (max-width: 560px) {
  .nogap .wp-block-columns {
    gap: 0 !important;
  }
  h1.has-text-align-center {
    text-align: left !important;
  }
}

.locked {
  max-height: 100vh;
  overflow-y: hidden;
}

.marquee {
  will-change: transform;
  animation: marquee 100s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@tailwind components;
@tailwind utilities;
