@tailwind utilities;

@font-face {
  font-family: "Akkurat Pro";
  src: url("../fonts/AkkuratPro-Light.otf") format("open type"),
  url("../fonts/akkuratpro-light-webfont.woff2") format("woff2"),
  url("../fonts/akkuratpro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../fonts/AkkuratPro-Regular.otf") format("open type"),
  url("../fonts/akkuratpro-regular-webfont.woff2") format("woff2"),
  url("../fonts/akkuratpro-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../fonts/AkkuratPro-Bold.otf") format("open type"), 
  url("../fonts/akkuratpro-bold-webfont.woff2") format("woff2"),
  url("../fonts/akkuratpro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

:root .has-white-color { color: white }
:root .has-white-background-color { background-color: white }
:root .has-black-color { color: #323232 }
:root .has-black-background-color { background-color: #323232 }
:root { --grey:#e6e6e6 }
:root .has-grey-color { color: #e6e6e6 }
:root .has-grey-background-color { background-color: #e6e6e6 }
:root .has-gradient-background-color {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 25%, rgba(230,230,230,1) 100%);
}

.wp-block-columns {
  gap: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) { 
  .wp-block-columns {
    gap: 2rem;
  }
}

@media screen and (max-width: 560px) { 
  .wp-block-columns {
    gap: 1rem;
    margin-bottom: 0;
  }
}

.locked {
  max-height: 100vh;
  overflow-y: hidden;
}

.marquee {
  animation: marquee 70s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0)
  }
  50% {
    transform: translate3d(-50%, 0, 0)
  }
  100% {
    transform: translate3d(0%, 0, 0)
  }
}
